* {
	font-family: Courier,Arial,helvetica;
}
.wrapper {
	overflow: hidden;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	margin: auto;
	animation: 3s ease-in 1s infinite reverse both running slidein;
;
}
.box {
	width: 100%;
	height: 100%;
	color: #fff;
	background:linear-gradient(-45deg, #ff00c8, #085e97, #000000, #fffdfd);
	background-size: 400% 400%;
	position: relative;
	animation: change 15s ease-in-out infinite;

}
ul {
	z-index: 99;
	list-style: none;
	text-align: center;
	position: fixed;
	margin: auto;
	width: 95%;
}
ul li {
	display: inline-block;
	margin: 15px;
}
ul li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 20px;
}
.logo {
	font-size: 40px;
	text-transform: uppercase;
	font-weight: 900;
	color: #fff;
}
.banner {
	position: absolute;
	z-index: 99;
	top: 20%;
	left: 50%;
	transform: translate(-50%, 50%);
	text-align: center;
}
.banner h2 {
	color: #fff;
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0;
}
.banner p {
	color: #fff;
	font-size: 18px;
	line-height: 1.9;
}
.banner a {
	text-decoration: none;
	background: #000;
	color: rgb(255, 255, 255);
	padding: 10px 30px;
	display: inline-block;
}	
.single-box {
	position: absolute;
	left: 0;
	width: 500%;
	height: 100%;
	background-repeat: repeat no-repeat;
	background-position: 0 bottom;
	transform-origin: center bottom;
	background-size: 50% 105px;
	animation: animate 10s linear infinite;
}
@keyframes animate {
	0% {
		transform: translateX(0) translateZ(0) scaleY(1);
	}
	50% {
		transform: translateX(-25%) translateZ(0) scaleY(0.55)
	}
	100% {
		transform: translateX(-50%) translateZ(0) scaleY(1)
	}
}

@keyframes change {
	0%{background-position: 0 50%;
	}
	50%{background-position: 100% 50%;
	}
	100%{background-position: 0 50%;
	}
}
